//STYLE OGÓLNE DLA STOPKI
footer {
  background: @dark-bg;
  color: @footer-text-color;
}

.footer-main {
  .container {
    padding-top: 80px;
    margin-bottom: 40px;
    div[class*="col-"] {
      margin-bottom: 20px;
    }
    h4 {
      .header-mixin(14px;700);
      margin-bottom: 25px;
      .upper;
    }
    ul {
      .list-style-none;
    }
    a {
      color: darken(@footer-text-color, 10%);
      &:hover {
        text-decoration: none;
        color: lighten(@footer-text-color, 10%);
      }
    }
  }
}

// O NAS - SOCIAL MEDIA

.footer-social {
  li {
    .inline-block;
    margin-right: 6px;
    margin-bottom: 3px;
    a {
      .basic-transition;
      .center-text;
      .inline-block;
      .square(30px);
      text-decoration: none;
      &:hover > i {
        color: lighten(@footer-text-color, 20%);
      }
      i {
        .icon(@footer-text-color; 16px; 28px);
      }
    }
  }
}

// kolumna blog i linki w STOPCE

.our-blog, .our-links {
    li {
      border-top: 1px solid @footer-border-color;
      &:first-child {
        border-top: none;
      }
      a {
        .inline-block;
        .padding-top-bottom(10px;10px);
        line-height: 1.5;
      }
    }
}

.our-blog {
  .footer-col-container {
    margin-right: 20px;
  }
}

// nasza galeria w STOPCE
.our-gallery {
  .footer-col-container {
    margin-left: 0;
    @media @small {
      margin-left: 40px;
    }
  }
  li {
    .inline-block;
    margin-bottom: 6px;
    margin-right: 2px;
    img {
      width: 65px;
    }
    a {
      .basic-transition;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

//Copyright w STOPCE

.copyright {
  background: @copyright-bg;
  .upper;
  .center-text;
  font-size: 11px;
  @media @small {
    text-align: left;
  }
}

.copyright-content {
  .padding-top-bottom(30px;10px);
}
