// glowny kontener
.main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: @alternate-bg;
	z-index: 99;
	.shadow(0 0 3px 0 rgba(0,0,0,0.2));
}

// Style dla 110px
.main-header, .header-content, .main-logo, .nav-main, .nav-right {
	height: @header-height-std;
}

// Style dla 60px
.header-short, .header-short .header-content, .header-short .main-logo,
.header-short .nav-main, .header-short .nav-right {
	height: @header-height-sm;
}

// Logo
.logo-wrapper {
	display: table;
	.main-logo {
		display: table-cell;
		.v-align;
	}
}

// style ogolne
.header-content {
	ul {
		.list-style-none;
		li {
			float: left;
			a {
				color: @menu-text-color;
				font-weight: 700;
				text-decoration: none;
				.upper;
				.basic-transition;
				&:hover {
					color: @menu-hover-color;
				}
			}
		}
	}
}

// Menu glowne
.nav-main {
	ul {
		overflow: hidden;
		.v-align-transform;
		li {
			float: left;
			line-height: 1.4;
			a {
				padding: 0 18px;
			}
		}
	}
}

.menu-link-active {
	color: @menu-hover-color !important;
}

// Ikony po prawej
.nav-right {
	ul {
		.v-align-transform;
		overflow: hidden;
		margin-left: 20px;
		li {
			padding: 0 13px;
		}
	}
}

// Menu mobilne
.mobile-menu {
	display: none;
	width: 80%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background: @dark-bg;
	padding: 30px 20px 0 30px;
}

.mobile-menu-close {
	transform: translateY(-8px);
	i {
		.icon(@bright-text-color;20px);
		opacity: 0.5;
		.basic-transition;
		&:hover {
			opacity: 1;
		}
	}
}

.main-nav-list-mobile {
	.list-style-none;
	li {
		margin-bottom: 10px;
		line-height: 1.4;
		a {
			color: @bright-text-color;
			opacity: 0.5;
			.basic-transition;
			text-decoration: none;
			&:hover {
				opacity: 1;
			}
		}
	}
}

// Przycisk mobilne
.mobile-nav-button {
	.v-align-transform;
	.basic-border(1px;solid;@menu-text-color);
	border-radius: 2px;
	padding: 2px 4px;
	display: table;
	&:hover {
		color: @menu-hover-color
		}
	i {
		.icon(@menu-text-color;21px;23px);
	}
}
