// OGÓLNE STYLE DLA SLIDERA

.top-slider {
  min-height: 927px;
  z-index: 0;
  .relative;

  .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}

#top-slider {
  position: fixed;
  width: 100%;
}

.top-slider .carousel-inner,
.top-slider .item {
  min-height: 927px;
}
//obrazy dla slajdów

#slide1 {
  .bg-image(url( '../images/slajd_1.jpg'));
}

#slide2 {
  .bg-image(url( '../images/slajd_2.jpg'));
}

#slide3 {
  .bg-image(url( '../images/slajd_3.jpg'));
}

.slide-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;

  &:after {
    .dark-overlay;
  }
}
//zawartość slajdu

.item-content {
  color: @light-gray;
  .center-text;

  h1 {
    margin-bottom: 20px;
    line-height: 1;
    font-family: @font-family-secondary;
    font-weight: 700;
    font-size: 24px;
    .upper;
    @media @small {
      font-size: 56px;
    }
    @media @medium {
      font-size: 75px;
    }
  }

  h3 {
    margin-bottom: 30px;
    line-height: 1.1;
    font-size: 20px;
    @media @small {
      font-size: 32px;
    }
  }

  a {
    &:hover {
      background-color: @brand-danger;
    }
  }
}
//kontrolki do slajdera

.carousel-control {
  .basic-transition;
  .block;
  outline: none;
  position: absolute;
  top: 50%;
  background: none !important;
  .center-text;
  .size(88px; 78px);
  margin: -35px 0 0;

  &:hover {
    background: @brand-primary !important;
  }

  &:hover > i {
    opacity: 1;
  }

  i {
    .icon(@bright-text-color;30px;78px);
    opacity: 0.7;
  }
}

.carousel-indicators {
  bottom: 80px;
}
//mobilny wariant slidera

.mobile-slider {
  .bg-image(url( '../images/slajd_1.jpg'));

  &:after {
    .dark-overlay;
  }

  .item-content {
    .padding-top-bottom(80px;80px);
    .relative;
    z-index: 1;
  }
}
